
<div class="container">
  <img src="/assets/ProfilePic1.JPG" alt="Other Profile" width="59px" height="59px">
  <div class="fullPrimary">
    <h4 class="postPrimaryUsername">MySpace Tom &nbsp;</h4>
    <p class="postPrimaryTime">- 9Hrs - &nbsp;</p>
    <p class="postPrimaryComment">I created a new social media called MySpace! Check it out!</p>
  </div>
  <div>
    <img src="/assets/Record1.JPG" alt="">
    <p>(placeholder for the recording feature)</p>
  </div>
  <div>
    <p>View all comments...</p>
  </div>
  <div class="fullSecondary">
    <h4 class="postSecondaryUsername">BobBTC &nbsp;</h4>
    <p class="postSecondaryTime">- 3Hrs - &nbsp;</p>
    <p class="postSecondaryComment">Interesting take. I don't think even stablecoins will survive.</p>
  </div>
  <div class="postAddComment">
    <input type="text" name="" id="" placeholder="Add a comment">
  </div>
  <h2>Testing</h2>
</div>